/* Estilos generales */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-attachment: fixed;
}

/* Navbar */
nav.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

nav.navbar img {
  transition: transform 0.3s ease;
}

nav.navbar img:hover {
  transform: scale(1.1);
}

/* Imagen principal */
.hero img {
  width: 200%;
  height:1000px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Sección de características */
.features .feature {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.features .feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.features h3 {
  color: #333;
}

.features p {    color: #555;
}

.features img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
}

/* Botón de acción */
.cta {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 60px 0;
  text-align: center;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.cta h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
}

.cta p {
  font-size: 1.2rem;
  color: #000000;
  margin-top: 20px;
}

.cta .btn-primary {
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.cta .btn-primary:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

footer a {
  color: #bbb;
  text-decoration: none;
  padding: 0 10px;
}

footer a:hover {
  color: #fff;
}